.main-header{
	background:url(../img/header.jpg) repeat;
	background-position: center top;
	height: 100px;
	min-width: 982px;
	
}
.header{
	margin : 0% 0% 0% 20%;
	width:60%;
	height:100px;
	background:url(../img/header.jpg);
}
.etZone-logo{
	width: 210px;
    background: url(../img/logo.png);
    height: 100px;
    float: left;
}
.login-header,.search-header{
  width: 580px;
  height:31px;
  float: left;
  margin: 0px 0px 0px 210px;
  position: absolute;
}
.search-header{
	width:580px;
	float:left;
	margin: 31px 0px 0px 210px;
}
.login-menu{
	float:right;
}
body{
	background:url(../img/background.jpg);
}
div{
	display:block;
	font: 14px Roboto,Arial,Arial;
}
.etzone-header-container,.ez-quicklink{
	background: #fff no-repeat;
	background-position: center top;
	height: 50px;
	min-width: 992px;
	box-shadow: 5px 0px 9px 0px rgba(50, 50, 50, 0.45);
	-webkit-box-shadow: 5px 0px 9px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 5px 0px 9px 0px rgba(50, 50, 50, 0.45);
}
.etzone-menu,.ez-ql{
  background-position: center top;
  width: 992px;
  margin: 0 auto;
  font: 34px Roboto,Arial,Arial;
}
.menulevelul{
  width: 992px;
  max-width: 992px;
  margin: 0px auto;
}
li {
  list-style-type: none;
  display: inline;
}
ul{
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
div ul.menulevelul li.menulevel a{
  font-family: Roboto,Arial;
  color: #666;
  font-size: 16px;
  margin: 10px 0 0 0;
  padding: 5px 38px 5px 39px;
  border-right: solid 1px #dedede;
  
}
div ul.menulevelul li.first {
  border-left: solid 1px #dedede;
}
div ul.menulevelul li.last {
  border-right: solid 1px #dedede;
}
div ul.menulevelul li.Selected a {
  color: #111;
  border-bottom: 5px solid #005dbc;
  padding-bottom: 9px;
}

.search-div{
  margin-right: 100px;
  width: 334px;
  padding: 0px;
  float: right;
  height: 40px;
  position: relative;
}
.search-div input {
  border: none;
  width: 334px;
  color: #fff;
  height: 36px;
  font-size: 18px;
  margin-top: 1px;
  margin-left: 0px;
  margin-bottom: 2px;
  text-indent: 10px;
  outline: none;
}
.search-div input {
  background: url("../img//search_normal_bg.png") no-repeat 0 0;
}
.search-div .search-submit {
  width: 40px;
  background: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
body
{
font:14px Roboto,Arial,Arial;
background:url(../img/background.jpg) top left;
background-repeat:repeat-x;
background-color:#ccc
}
.drop_menu {
	background:#fff;
	padding:0;
	margin:0;
	list-style-type:none;
	height:50px;
	min-width : 992px;
	
}
.drop_menu li { float:left;}
.drop_menu li a ,.ql-head{
	display:block;
	text-decoration:none;
	font-family: Roboto,Arial;
    color: #005dbc;
    font-size: 14px;
    margin: 10px 0 0 0;
    padding: 5px 38px 5px 39px;
    
}
.drop_menu li a:hover{
	color: black;
        
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover { position:relative; background:#fff; }
.drop_menu li:hover ul {
	left:0px;
	top:30px;
	background:#fff;
	padding:0px;
}

.drop_menu li:hover ul li {
	padding:5px;
	display:block;
	text-indent:14px;
	background-color:#fff;
	border-bottom: solid 1px #dedede;

}
.drop_menu li:hover ul li a:hover { background:#fff;	color : black; }
#search1 {
  border: 0;
  background-color: #474747;
  font-family: MuseoSans500,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: .875em;
  color: #fff;
  margin: 0!important;
  padding: 0;
  -webkit-appearance: none;
}
.et-footer {
  clear: both;
}
.et-footer .et-footer-bg {
  background: url(/imgml/backgrounds/2015/footer.jpg) no-repeat;
  height: 300px;
  background-position: center top;
  background-size: 100% 100%;
  overflow: hidden;
  clear: both;
}






